<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>project9</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb3129248500446814</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>FacebookAppID</key>
	<string>3129248500446814</string>
	<key>FacebookDisplayName</key>
	<string>SonCaProject</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>PoppinsVN-Black.ttf</string>
		<string>PoppinsVN-Bold.ttf</string>
		<string>PoppinsVN-Heavy.ttf</string>
		<string>PoppinsVN-IBlack.ttf</string>
		<string>PoppinsVN-IBold.ttf</string>
		<string>PoppinsVN-IHeavy.ttf</string>
		<string>PoppinsVN-ILight.ttf</string>
		<string>PoppinsVN-IMedium.ttf</string>
		<string>PoppinsVN-IRegular.ttf</string>
		<string>PoppinsVN-ISemibold.ttf</string>
		<string>PoppinsVN-IThin.ttf</string>
		<string>PoppinsVN-Light.ttf</string>
		<string>PoppinsVN-Medium.ttf</string>
		<string>PoppinsVN-Regular.ttf</string>
		<string>PoppinsVN-Semibold.ttf</string>
		<string>PoppinsVN-Thin.ttf</string>
		<string>PoppinsVN-UltraLight.ttf</string>
	</array>
</dict>
</plist>
